body 
{
    background-color:burlywood;
}
h1
{
    /*font-style font-weight font-size/line-height font-family*/
    text-align: center;
    font:italic bold xx-large Impact;
}
p
{
    font-size: 12px;
    font-family:Arial;
}
ul
{
    list-style-type: none;
    text-align: center;
    font-style: italic;
    font-family:Arial;
}
li::first-letter
{
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    font-family: Arial;
}
.copyright
{
    text-align:center;
    font-size:10px;
}
