body 
{
    background-color:burlywood;
}
h1
{
    /*font-style font-weight font-size/line-height font-family*/
    width: 600px;
    text-align: center;
    font:italic bold xx-large Impact;
    border-top:dotted;
    border-bottom:dotted;
    background-color: white;
}
main
{
    width: 600px;
    border-bottom:dotted;
    border-left:dotted;
    border-right:dotted;
    background-color: white;
    margin: auto;
}
p
{
    font-size: 12px;
    font-family:Arial;
}
ul
{
    list-style-type: none;
    text-align: center;
    font-style: italic;
    font-family:Arial;
}
li::first-letter
{
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    font-family: Arial;
}
.copyright
{
    text-align:center;
    font-size:10px;
}
