body 
{
    background-color:lightblue;
}
p
{
    font-family:Arial;
}
ul
{
    list-style-type: none;
    text-align: center;
    font-family:Arial;
}
li::first-letter
{
    font-size: 30px;
    font-family: Arial;
}

